.color_option {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color_option:hover {
    background: rgba(var(--main-rgb), .5);
}

.color_option div{
    width: 16px;
    height: 16px;
    background: #000;
}
